*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}

.row{
  background: #2c3e50;
  padding-bottom: 20px;

}
.destra{
  text-align: right;
}
.destra > li{
  display: inline-block;
  padding-top: 34px;
  padding-right: 40px;
  text-align: right;
}
.destra > li > a{
  color: white;
  font-size: 19px;
}
li > a:hover{
  text-decoration: none;
  color: green;
}
header > nav > div >h1{
  color: white;
  padding-top: 10px;
  font-size: 28px;
}
.sec1{
  background: #1abc9c;
  padding-top: 200px;
}
.sec1 > div {
  text-align: center;
  color: white;
}
.sec1 > div > img{
  height: 250px;
}
.sec1 > div > h1{
  padding-top: 10px;
  font-size: 65px;
}
.sec1 > div > p{
  padding-top: 10px;
  font-size: 25px;
  padding-bottom: 80px;
}
.sec1::after{
  content: "";
  display: table;
  clear: both;
}
.starts{
  color: white;
  text-align: center;
}
.line{
  width: 100px;
  height: 4px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
}
.icon{
  display: inline-block;
  padding: 0 20px;
  font-size: 35px;
}
.sec2 > .starts{
  color: black;
}
.sec2 > .starts > .line{
  background-color: black;
}
.sec2{
  text-align: center;
  padding-top: 100px;
}
.sec2 > h2 {
  font-size: 50px;
}
.sec2 > .container > div > a > img {
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
}
.immagini{
  padding-bottom: 80px;
}
.sec3{
  background-color: #1abc9c;
  text-align: center;
  padding-top: 80px;
}
.sec3 > h2{
  font-size: 50px;
  color: white;
}
.scritte > div > p{
  text-align: left;
  font-size: 19px;
  color: white;
}
.scritte{
  padding-top: 30px;
}
.container > .form-group > input{
  font-size: 26px;
  padding: 40px;
  border: none;
  margin: auto;
  width: 70%;
}
.nope{
  text-align: left;
}
.foot{
  text-align: center;
  background-color: #2c3e50;
  color: white;
}
.foot > .container > div{
  padding: 0 18px;
  margin-bottom: 90px;
}
.foot > .container > div > ul > li{
  display: inline-block;
  margin: 10px 10px;
  font-size: 27px;
  border: white solid 2px;
  border-radius: 50%;
  padding: 4px 0;
}
.foot > .container > div > ul > li:hover{
  background-color: white;
  transition: color .35s ease-in-out, background-color .35s ease-in-out, border-color .35s ease-in-out, box-shadow .35s ease-in-out;
}
.foot > .container > div > ul >li >a{
  color: white;
  margin: 60px 15px;
}
.foot > .container > div > ul >li >a:hover{
  color: black;
  transition: color .35s ease-in-out, background-color .35s ease-in-out, border-color .35s ease-in-out, box-shadow .35s ease-in-out;
}
.foot > .container > div > h3{
  font-size: 29px;
  padding-top: 55px;
  padding-bottom: 20px;
}
.foot > .container > div > p{
  font-size: 20px;
}
.foot > .container > div > p > span > a{
  color: green
}
.copyright{
  text-align: center;
  background-color: #1a252f;
  color: white;
  padding-top: 25px;
  padding-bottom: 15px;
}
#scarica{
  padding: 17px 40px;
  background-color: rgba(255, 0, 0, 0.0);
  border: solid 2px white;
  margin-bottom: 100px;
  margin-top: 30px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
#scarica:hover{
  background-color: white;
  color: black;
  transition: color .35s ease-in-out, background-color .35s ease-in-out, border-color .35s ease-in-out, box-shadow .35s ease-in-out;
}
#send{
  padding: 16px 35px;
  background-color: #1abc9c;
  border: solid 2px white;
  margin-bottom: 100px;
  margin-top: 60px;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  margin-left: 204px;
}
